
.prettyprint .com {
    color: #a7a7a7;
}
.prettyprint .lit {
    color: #1D89D6;
}
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
    color: #989898;
}
.prettyprint .fun {
    color: #FF9000;
}
.prettyprint .str, .prettyprint .atv {
    color: #F56608;
}
.prettyprint .kwd, .prettyprint .linenums .tag {
    color: #EB8B2B;
}
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
    color: #18BCBA;
}
.prettyprint .pln {
    color: #48484C;
}
.comment-content pre.prettyprint code, .post-content pre.prettyprint code, pre.prettyprint code {
    border: medium none;
    display: block;
    margin: 0;
    padding: 0;
    white-space: pre;
}
pre.prettyprint, code.prettyprint, .post-content pre.prettyprint, .post-content code.prettyprint, .comment-content pre.prettyprint, .comment-content code.prettyprint {
    -moz-tab-size: 2;
    overflow: auto;
    word-wrap: normal;
}
.prettyprint {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 10px;
}
.prettyprint.linenums {
    padding: 0;
}
.prettyprint ol.linenums {
    box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #F1F1F1 inset;
    margin: 0;
    padding: 8px 8px 8px 41px;
}
.prettyprint ol.linenums li {
    color: #C6C6C6;
    line-height: 18px;
    padding-left: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}
code.prettyprint {
    display: block;
}
					